name: goreleaser

on:
  pull_request:
  push:

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: build --rm-dist --parallelism=4
        env:
          VERSION: ${GITHUB_REF}
          BUILD: ${GITHUB_REF}
          LDFLAGS: "-X github.com/lflare/mdathome-golang/internal/mdathome.ClientVersion=${VERSION} -X mdathome.Build=${BUILD}"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run UPX
        uses: crazy-max/ghaction-upx@v1
        with:
          version: latest
          file: build/*
